// Colors
$algae-green: #20bf55;
$water-blue: #1781e0;
$nice-blue: #0e6dbb;
$deep-sea-blue: #01528a;
$white: #ffffff;
$warm-grey: #828282;
$greyish-brown-30: rgba(80, 80, 80, 0.3);

// Common Var
$common-space: 15px;
$common-radius: 3px;