
.personnesClientTable img{
	height: 25px;
	cursor:pointer;
}

.listePersonnes	 {
	overflow: hidden;
	position:relative;
	margin:-15px;
	padding:8px;
}

.personneElement1 {
	position:relative;
	float:left;
	margin:0px;
	width:20%;
	height:250px;
	padding:8px;
}

.personneElement2_dashed {
	position:relative;
	border:5px dashed #1781e0;
	color:#1781e0;
	border-radius:10px;
	width:100%;
	height:100%;
	cursor:pointer;
}

.personneElement2_dashed:hover {
	background-color:#d6e5f2;
}

.personneElement2:hover {
	background-color:#2e6392;
}

.personneElement2 {
	position:relative;
	background-color:#1781e0;
	border-radius:10px;
	width:100%;
	height:100%;
	color:#1781e0;
	cursor:pointer;
}

.personneElement2_dashed h2{
	display:inline-block;
	font-weight:bold;
	color:#1781e0;
	width:100%;
	top: 30px;
	position: absolute;
	font-size: 24px;
}

.personneElement2 h3{
	display:inline-block;
	font-weight:bold;
	width:100%;
	color:white;
	padding-left: 20px;
	padding-right: 20px;
}

.personneElement2 h2{
	display:inline-block;
	font-weight:bold;
	color:white;
	width:100%;
	bottom: 25px;
	position: absolute;
}

.personneElement2 img{
	height: 130px;
}

.personneElement2 div{
	position: absolute;
	overflow: hidden;
	top: 35%;
	width: 100%;
	text-align: center;
}

.personneElement2_dashed img{
	height: 80px;
}

.personneElement2_dashed div{
	position: absolute;
	overflow: hidden;
	width: 100%;
	text-align: center;
	top: 57%;
}


.inputForm {
	display:inline-block;
	width:69%;
	text-align:left;
}

.inputForm input {
	text-align:left;
}

.inputForm label {
	width:48%;
	text-align:center;
}

.labelForm {
	text-align:right;
	padding-right:10px;
	display:inline-block;
	width:30%;
	min-width: 150px;
}
