.containerPerso {
	//padding-top:133px;
	padding-top:100px;

	padding-left: 0px;
	padding-right: 0px;
	position: relative;
}

.is_valid {
		font-style: italic;
	a {
		//color: #00AA00 !important;
	}
}