#op-module {
  height: 548px;
  border-radius: 10px;
  background-color: #1781E0; }
  #op-module * {
    padding: 0px;
    margin: 0px; }

.main-carousel {
  display: flex;
  flex-direction: column;
  height: 100%; }

.container-opportunite {
  display: flex;
  flex-direction: column;
  flex: 1; }
  .container-opportunite * {
    flex: 1;
    height: 50%; }

.opportunite {
  border-radius: 10px;
  background-color: #1781E0;
  color: #ffffff; }
  @media (max-width: 580px) {
    .opportunite {
      border-radius: 0 !important; } }
  .opportunite .part-up {
    border-radius: 10px 10px 0px 0px;
    background-image: url("module/OpportuniteListComponent/img/Immeuble8.jpg"); }
    @media (max-width: 580px) {
      .opportunite .part-up {
        border-radius: 0 !important;
        margin-left: 0;
        margin-right: 0;
        width: 100%; } }
  .opportunite .part-up {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
    .opportunite .part-up .filter {
      border-radius: 10px 10px 0px 0px;
      position: absolute;
      width: 100%;
      height: 200px;
      opacity: 0.6;
      background-color: #0e6dbb;
      z-index: 1;
      box-sizing: border-box; }
      @media (max-width: 580px) {
        .opportunite .part-up .filter {
          border-radius: 0 !important; } }
  .opportunite .part-up {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px; }
    .opportunite .part-up > {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle; }
    .opportunite .part-up a {
      z-index: 4;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 2.25em;
      color: #FFFFFF;
      text-shadow: 0px 0px 0px #505050; }
  .opportunite .op-important-message {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    position: relative;
    width: 90%;
    left: 5%;
    height: 48px;
    top: -24px;
    border-radius: 48px;
    background-color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 1.5em;
    color: #FF9F1C; }
    .opportunite .op-important-message > {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle; }
  .opportunite .part-down {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    height: 300px; }
    .opportunite .part-down > {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle; }
    .opportunite .part-down div {
      position: relative;
      top: -64px; }
    .opportunite .part-down h1 {
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 5.6em;
      color: #FF9F1C;
      text-shadow: 0px 0px 0px #505050; }
    .opportunite .part-down a[data-target="#action-a-saisir"] {
      text-decoration: underline; }
    .opportunite .part-down .info-rend {
      position: relative;
      top: 32px;
      font-family: "Open Sans";
      font-weight: bold;
      font-size: 1.2em;
      color: #FFFFFF; }

#action-a-saisir .modal-dialog {
  padding: 15px !important; }
#action-a-saisir .modal-title {
  font-family: "Montserrat";
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em; }
#action-a-saisir .modal-body .row > div {
  padding: 0; }
  #action-a-saisir .modal-body .row > div:first-child {
    padding-left: 15px;
    padding-right: 15px; }
  #action-a-saisir .modal-body .row > div:last-child {
    padding-right: 15px;
    padding-left: 0px; }
#action-a-saisir .close {
  color: #FF9F1C; }
  #action-a-saisir .close:hover {
    color: #ffb54f; }
#action-a-saisir .btn {
  font: "Montserrat";
  font-weight: 400;
  color: #ffffff;
  display: block;
  width: 100% !important; }
  #action-a-saisir .btn.btn-popup-consult {
    padding-left: 15px !important;
    padding-right: 15px !important;
    background-color: #1881E0; }
    #action-a-saisir .btn.btn-popup-consult:hover {
      background-color: #409aeb; }
  #action-a-saisir .btn.btn-popup-contact {
    padding-left: 15px !important;
    padding-right: 15px !important;
    background-color: #FF9F1C; }
    #action-a-saisir .btn.btn-popup-contact:hover {
      background-color: #ffb54f; }

/*# sourceMappingURL=style.scss.css.map */
