.icon.status {
  margin-left: -4px;
  margin-top: 2px;
  max-width: 28px;
  max-height: 28px; }

.list-group-item.cursor:hover {
  cursor: pointer; }

.tooltip-inner {
  /* If max-width does not work, try using width instead */
  width: 350px; }
