body {
	background-color:#EBEBEB;
	color:#01528a;
}

a:hover, a:visited {
	text-decoration:none;
}

.containerPerso {
	padding-top:20px;
	top:100px;
	margin-left: 40px;
	margin-right: 40px;
	position: relative;
}
.trait {
	background-color: #ff9f1c;
	height: 5px;
	width: 120px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 30px;
	border-radius: 3px;
}

h1, h2, h3, h4, h5, h6, .typeoMontSerra{
	font-family: 'Montserrat', sans-serif;
	color:#01528a;
	text-align:center;
}

input {
	font-family: 'Open Sans', sans-serif;
}

span {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 36px;
	margin-bottom:20px;
	letter-spacing:0.05em;
	font-weight:400;
	color:#1781e0;
}
h2 {
	margin-bottom:20px;
	letter-spacing:0.05em;
	font-weight:400;
	color:#1781e0;
}
.module {
	border-radius: 15px;
	background: white;
	width: 100%;
	margin: 10px;
	flex: 1;
	display:flex;
	flex-direction:column;
	-moz-box-shadow: 0px 0px 10px -2px #3c3c3c;
	-webkit-box-shadow: 0px 0px 10px -2px #3c3c3c;
	-o-box-shadow: 0px 0px 10px -2px #3c3c3c;
	box-shadow: 0px 0px 10px -2px #3c3c3c;
	min-height: 200px;
}

.moduleBlock {
	display: flex;
	justify-content: space-between;
}

.moduleTitle {
	border-radius: 15px 15px 0px 0px;
	background-color:#1781e0;
	color:white;
	height: 60px;
	padding: 10px;
	font-size: 16px;
	display:flex;
	align-items:center;
}
.moduleTitle span {
	margin-top: 3px;
	flex: 1;
}
.moduleTitle img {
	height: 39px;
	margin: 0px 15px 0px 15px;
	flex: 0 1 0;
}

.moduleContent {
	min-height: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding: 20px;
	text-align: center;
	padding: 5px 20px 20px 20px;
	flex: 1;
	justify-content: center;
	align-items: center;
	display: flex;
}
.moduleVerticalAlign {
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	margin-right: 20px;
	flex: 1;
}

.BtnStyle{
	padding: 0px 25px 0px 25px;
	height: 40px;
	background-color: #ff9f1c;
	border: none;
	color:white;
	-moz-box-shadow: 0px 0px 10px -2px #3c3c3c;
	-webkit-box-shadow: 0px 0px 10px -2px #3c3c3c;
	-o-box-shadow: 0px 0px 10px -2px #3c3c3c;
	box-shadow: 0px 0px 10px -2px #3c3c3c;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#3c3c3c, Direction=NaN, Strength=10);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-size:19px;
}

.pictoTitreModule {
	flex: 0 1 0;
}

._tooltip_r {
	height: 26px !important;
}

.modal-lg {
	width:90% !important;
}

@media (max-width: 1814px) {
	.moduleTitle span {
		font-size: 16px;
	}
}

@media (max-width: 1686px) {
	.moduleTitle span {
		font-size: 16px;
	}
}

@media (max-width: 1686px) {
	.moduleTitle span {
		font-size: 16px;
	}
}

@media (max-width: 1000px) {
	.mobile_resp{
		display: none;
	}
	.moduleBlock {
		flex-direction: column;
	}
}

input{
	border: 2px solid #01528A;
}
.form-horizontal .control-label{
	padding-top: 2px;
}
header img{
	margin-top: -17px;
	width: 100%;
	min-height: 140px;
}
.label_step{
	margin-left: auto;
	margin-right: auto;
}
.tosend{
	width: 300px;
	margin-left: 78%;
	border: 0px;
}
.well{
	width: 815px;
	margin-left: auto;
	margin-right: auto;
}


.logo img{
	position: absolute;
	width: 100px;
	margin-top: 21px;
}
.navbar-inverse{
	border-color: #01528A;
}
.valid1, .valid2, .valid3, .valid4{
	width: 30px;
	margin-left: 5px;
	display: none;
}
.erreur1, .erreur2, .erreur3, .erreur4{
	width: 28px;
	margin-left: -4px;
	display: none;
}
.pass_erreur1, .pass_erreur2, .pass_erreur3, .pass_erreur4, .success_1, .success_2, .erreur5{
	display: block;
	color:#505050;
}

.msgErr2 > .erreur5,
.msgErr > .pass_erreur1,
.msgErr > .pass_erreur2,
.msgErr > .pass_erreur3,
.msgErr > .pass_erreur4 {
    color:red;
}

.modal-lg{
	width: 1080px;
}
#msgimp{
	display: none;
}
table{
	margin-bottom: 40px;
}
table thead tr th{
	background-color: #01528A;
	text-align: left;
	color: #ffffff;
	border: 2px solid #01528A;
	font-size: 20px;
}
table tr td{
	margin: 5px;
	border-bottom: 2px solid #01528A;
	text-align: center;
}
.left_table{
	border-left: 2px solid #01528A;
}
.right_table{
	border-right: 2px solid #01528A;
}
.radio-inline input[type="radio"]{
	display: none;
}
.radio-inline input[type="checkbox"]{
	display: none;
}
.radio-inline span{
	display: inline-block;
	border: 1px solid #969696;
	border-radius: 6px;
	width: 20px;
	height: 20px;
	background: #FFFFFF;
	vertical-align: middle;
	transition: width 0.1s, height 0.1s, margin 0.1s;
	margin: 0px !important;
	padding: 0px !important;
}

.radio-inline :checked + span {
	background: #1781e0;
}

.radio-inline{
	margin: 0px;
	padding: 0px !important;
	min-height:auto !important;
}


.info_block{
	border: 2px solid #01528A;
	padding-left: 33px;
	color: #01526D;
	margin-bottom: 20px;
}

.progressBlk {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 50vw;
	height: 150px;
	position: relative;
}



.nbrChild, .nbrAutres, .regMatri {
	display:none;
}

#tosendinfo, .info_block {
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
}
.containPage {
	display:flex;
	margin-top: 20px;
	flex-wrap:wrap;
}

.contenu {
	flex:1 0 50%;
	max-width: 750px;
}

.form-control,
.arrSelect {
	text-align:left;
	border-radius: 4px;
	height: 34px;
	background-color: #fff;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	flex: 1;
	border: 2px solid #018A13 !important;
}

.arrSelect select{
	border:none !important;
	width:100%;
	height:100%;
}

.formLeft {
	border-radius-: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	border-right:none;
	padding-right: 0px;

}
.formRight {
	border-left:1px solid #969696;
	border-radius-: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	-webkit-border-radius: 0px 4px 4px 0px;
}

.notValid {
	border: 1px solid #ccc !important;
}

.form-group {
	display:flex;
	align-items: center;
	margin:0px;
	margin-bottom:20px;
}

.form-group > label{
	flex:4;
	padding: 0px;
	margin: 0px;
}

.form-group > div{
	flex:6;
	display:flex;
}

.radio-inline{
	flex:1;
	text-align:center;
}

.pageTitle	{
	font-family: 'Montserrat', sans-serif;
	color: #01528a;
	display: inherit;
	font-size: 24px;
	text-align:left !important;
	margin-top:42px;
	margin-bottom: 0px;
}

.info_block {
	margin-top: 110px;
	text-align: center;
	padding: 24px;
	line-height: 24px;
	background-color: white;
}
.forSituation {
	font-size:20px;
	font-family: 'Montserrat', sans-serif;
	color: #01528a;
	width:100%;
	margin:20px;
}




























.titleBlockSituation {
	color: white;
	background-color: #1781e0;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0px 20px 0px 20px;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

.blockSelected > .titleBlockSituation{
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
}

.contentBlockSituation {
	background-color: white;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	padding: 20px;
	display:none;
	flex-direction:column;
	align-items:center;
}


.blockSelected > .contentBlockSituation {
	display:flex;
}

.blockSituation {
	-moz-box-shadow: 0px 0px 10px -2px #3c3c3c;
	-webkit-box-shadow: 0px 0px 10px -2px #3c3c3c;
	-o-box-shadow: 0px 0px 10px -2px #3c3c3c;
	box-shadow: 0px 0px 10px -2px #3c3c3c;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#3c3c3c, Direction=NaN, Strength=10);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
}


.btn-next {
	text-align:center;
	margin:0px 20px 20px 20px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
}

.btn-next > div{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn-next img {
	height: 42px;
	transform: rotate(90deg);
	margin-top: 10px;
}
.btn-next div{
	color: #969696;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
}

.btn-next > .inactive {
	color:#969696;
}

.btn-next > .active {
	color:#1781E0;
	cursor:pointer;
}

.contenuOut {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contenuOut form {
	width: 100%;
	max-width: 652px;
}


.labelForm, .inputForm {
	flex:1 0 50%;
	margin-right:20px !important;
}

.labelForm {
	text-align: right;
}

.form-horizontal .form-group {
	margin:20px 0px 20px 0px !important;
}

.forConjoinAddr {
	display:none;
}

.inputForm {
	position:relative;
}

.blockSituation input:focus {
	outline:none !important;
}

.inputForm img {
	height:32px;
	display:block;
	position:absolute;
	right:-52px;
}

.msgErr,
.msgErr2 {
	text-align: right;
	margin-top: 0px;
	margin-bottom: 20px;
	color: #505050;
	margin-right: 20px; 
	display:none;
}
.errorOkay {
	color:#018A13 !important;
}

.msgErr img {
	display:none;
	width: 25px;
}

.notValid + img {
	display:none;
}

.outButton {
	text-align: right;
	padding-right: 20px;
}

.paragraphe {
	background-color: white;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	padding: 30px;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans', sans-serif;
	color:#505050;
}

.paragraphe h4 {
	margin-top: 30px;
	font-size: 18px;
	text-align: left !important;
	color:#1781e0;
}

@media (max-width: 1200px) {
	.containerPerso {
		margin-left: 0px;
		margin-right: 0px;
	}

	.blockSelected > .titleBlockSituation{
		border-radius: 0px;
	}
	.contentBlockSituation {
		border-radius: 0px;
	}
	h1 {
		font-size: 30px;
	}
}

@media (max-width: 1000px) {
	.form-group {
		flex-direction: column;
		align-items: stretch;
	}
	.labelForm {
		text-align:left !important;
	}
	h1 {
		font-size: 25px;
	}
}

@media (max-width: 770px) {
	.inputForm img {
		height:0;
	}

	.progressBlk {
		display:none;
	}
}

@media (max-width: 500px) {
	h1 {
		font-size: 20px;
	}
}


