$mscpi-color: (#01528A, #4681A9, #8BB0C9, #D0DFE9);
$dynam-color: (#1781E0, #0E6DBB, #FF9F1C, #EF6228, #20BF55);
$gray-shade:  (#FFFFFF, #F7F7F7, #DDDDDD, #828282, #505050);
$font: ("Montserrat", "Open Sans");

$common-radius: 3px;
$common-margin: 16px;

$font-size: (20px);
$light-val: 6;