body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

footer {
    padding: 30px 0;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}
.ishere{
    color: #dff0d8;
}
	.space-more{
		margin-top: 14px;
	}
	input{
		border: 3px solid #01528A;
	}
	header img{
		margin-top: -17px;
		width: 100%;
		min-height: 140px;
	}
	.label_step{
		margin-left: auto;
		margin-right: auto;
	}
	/*
	.pos_step{
		color: #01528A;
	    font-weight: bold;
	    margin-left: -78px;
	    margin-top: 62px;
    	position: absolute;
	}
	*/
	.tosend{
		width: 300px;
		border: 0px;
		float: right;
	}
	.toreturn{
		width: 300px;
		border: 0px;
	}
	.well{
		width: 815px;
		margin-left: auto;
		margin-right: auto;
	}
	.form-control{
		border: 3px solid #01528A;
	}
	form{
		margin-top: 225px;
	}
	/*
	.progress-bar-info{
		background-color: #01528A;
	}
	.progress{
		background-color: #80A4BC;
		margin-top: 60px;
		margin-left: auto;
		margin-right: auto;
		max-width: 500px;
	}
	.progress-bar{
		width: 220px;
	}
	.icon-progress img{
		position: absolute;
		width: 100px;
		margin-top: -40px;
		margin-left: -69px;
	}
	*/
	h1{
		margin-bottom: 30px;
		color: #ffffff;
		font-family: 'Montserrat', sans-serif;
	}
	h2{
		font-family: 'Montserrat', sans-serif;
		font-size: 6.5em;
		color: #01528A;
		text-align: center;
	}
	h3{
		margin-top: 40px;
		font-family: 'Raleway', sans-serif;
		font-size: 2.5em;
		color: #01528A;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	.alert_info{
		visibility: visible;
		color: red		margin-top: 14px;
	}
	.line_red{
		visibility: visible;
		display: inline;
  		border-right: 1px solid #FF0000;
	}
	p{
		font-family: 'Montserrat', sans-serif;
		text-align: center;
	}
	form div p{
		font-family: 'Raleway', sans-serif;
		text-align: center;
	}
	.navbar-inverse{
		border-color: #01528A;
	}
	.imgTop {
		padding:0px;
	}
	.mdlProgressBlock {
		width:70%;
		max-width:500px;
		margin-left:auto;
		margin-right:auto;
		margin-top:30px;
		margin-bottom:80px;
		left:0px;
		right:0px;
		position:relative;
		height:100px;
	}
	@media screen and (max-width: 600px){
		h2{
			font-size: 5em;
		}
		#resmarg{
			margin-top: 10px;
		}
	}
@media (max-width: 575px) {
	.mdlProgressBlock {
		width: 70%;
		height: 70px;
	}
	.icon-progress p{
		font-size:14px;
	}
}
@media (max-width: 470px) {
	.mdlProgressBlock {
		width: 60%;
		height: 60px;
	}
}
@media (max-width: 360px) {
	.mdlProgressBlock {
		width: 50%;
		height: 50px;
	}
	.icon-progress p{
		font-size:10px;
	}
}
@media (max-width: 991px) {
	form {
		margin-top: 60px;
	}
	.forBtn {
		margin-top:30px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1025px;
	}
}
