h1, h2, h3, h4, h5, h6, input, .typeoMontSerra{
	font-family: 'Montserrat', sans-serif;
	color:#01528a;
	text-align:center;
}
span {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 42px;
	margin-bottom:20px;
}

body {
	background-color:#EBEBEB;
	color:#01528a;
}
.containerPerso {
	padding-top:20px;
	top:113px;
	margin-left: 40px;
	margin-right: 40px;
	position: relative;
}
.trait {
	background-color: #ff9f1c;
	height: 5px;
	width: 120px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 30px;
	border-radius: 3px;
}

.editTemplatePreview {
	display:flex;
}

.editTemplatePreview > div{
	flex: 1 0 50%;
	padding:20px;
}
.btnLst {
	display: flex;
	justify-content: space-around;
	width: 50%;
}

.previewContour {
	border:2px dashed #505050;
	background-color:white;
	color:#000;
}
.previewContour h1,
.previewContour h2,
.previewContour h3,
.previewContour h4,
.previewContour h5,
.previewContour h6 {
	color:#000;
	margin:inherit;
	text-align:left;
}
