.priorityStarsStyle {
	font-size: 20px;
	color: #ff9f1c;
	min-width: 160px;
	min-height: 45px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.priorityStarsStyle i.fa-star {
	color: #1781e0;
}

.priorityStarsStyle i.fa-star-o {
	color:#ccc;
}

.priorityStarsStyle i{
	transition: font-size 0.2s, color 0.2s;
}

.priorityStarsStyle i:hover {
	color: #ff9f1c;
	font-size: 42px;
}

