.tableAbsorption td{
	background-color:transparent;
	text-align:center;
	padding: 5px;
	cursor:pointer;
}

.tableAbsorption th{
	background-color:#1781e0;
	text-align:center;
	color:white;
	padding: 5px;
}

.tableAbsorption tr{
	background-color:white;
}

.tableAbsorption tr:hover {
	background-color:#d5e4f1;
}

.tableAbsorption {
	width:100%;
	margin-top: 30px;
}

