.Btn {
	position:relative;
	right:0px;
}

.Btn button{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size:14pt;
	padding: 0px 25px 0px 25px;
	width:300px;
	height: 40px;
	background-color: #ff9f1c;
	border: none;
	color:white;
	-moz-box-shadow: 0px 0px 10px -2px #3c3c3c;
	-webkit-box-shadow: 0px 0px 10px -2px #3c3c3c;
	-o-box-shadow: 0px 0px 10px -2px #3c3c3c;
	box-shadow: 0px 0px 10px -2px #3c3c3c;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#3c3c3c, Direction=NaN, Strength=10);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.Btn .notComplete {
	border: 2px solid #ff9f1c;
	background: white;
	color: #ff9f1c;
}
