@import "_var.scss";

#op-module {
	@include borderize(0);
	* {
		padding: 0px;
		margin: 0px;
	}
	background-color: nth($dynam-color, 1);
}

.main-carousel {
	//@include debug;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.container-opportunite {
	display: flex;
	flex-direction: column;
	flex: 1;
	* {
		flex: 1;
		height: 50%;
	}
}

.opportunite {
	@include borderize(0);
	background-color: nth($dynam-color, 1);
	color: #ffffff;

	//ADDING IMAGE BACKGROUND 1/2 SEQUENTIAL TO HEAD OPPORTUNITY
	&:nth-child(2n) .part-up {
		@include borderize(1);
		background-image: url("module/OpportuniteListComponent/img/Immeuble8.jpg");
	}
	&:nth-child(2n + 1) .part-up {
		@include borderize(1);
		background-image: url("module/OpportuniteListComponent/img/Logement2.jpg");
	}

	.part-up {
		.filter {
			border-radius: ($common-radius * 4) ($common-radius * 4) 0px 0px;

			position: absolute;
			width: 100%;
			height: 55%;
			opacity: 0.6;
			background-color: #0e6dbb;
			z-index: 1;
			box-sizing: border-box;

		}
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
}

.part-up {
	//@include debug;
	@include flexify;
	height: 300px;
	a {
		z-index: 4;
		font-family: nth($font, 1);
		font-weight: 400;
		font-size: 2.25em;
		color: nth($gray-shade, 1);
		text-shadow: 0px 0px 8px nth($gray-shade, 5);
	}
}

.op-important-message {
	@include flexify;
	$width: 90%;
	$height: 48px;
	z-index: 4;

	position: relative;
	width: $width;
	left: (100 - $width) / 2;
	height: $height;
	top: - ($height / 2);

	border-radius: $height;

	background-color: nth($gray-shade, 1);

	font-family: nth($font, 1);
	font-weight: 400;
	font-size: 1.5em;
	color: nth($dynam-color, 3);
}

.part-down {
	//@include debug;
	@include flexify;

	z-index: 2;
	height: 200px;
	div {
		position: relative;
		top: -32px;
	}
	h1 {
		font-family: nth($font, 1);
		font-weight: 400;
		font-size: 5.6em;
		color: nth($dynam-color, 3);
		text-shadow: 0px 0px 8px nth($gray-shade, 5);
	}
	.info-rend {
		position: relative;
		top: 32px;
		font-family: nth($font, 2);
		font-weight: bold;
		font-size: 1.2em;
		color: nth($gray-shade, 1);
	}

}