.contour_RepGeo {
	width:100%;
	/*max-width:400px;*/
	max-height: 128px;
	height:210px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.moduleRepartitionGeographique .moduleContent{
	display:flex;
	height:100%;
	align-items:center;
	flex:1;
	padding-top: 20px;
}

.moduleRepartitionGeographique .moduleContent h3{
	font-size:14px;
	font-weight:700;
}
