body {
	color:#01528a;
}
.containerPerso {
	padding-top:20px;
	top:113px;
	margin-left: 40px;
	margin-right: 40px;
	position: relative;
}
.trait {
	background-color: #ff9f1c;
	height: 5px;
	width: 120px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 30px;
	border-radius: 3px;
}
h1, h2, h3, h4, h5, h6, input, .typeoMontSerra{
	font-family: 'Open Sans', sans-serif;
	color:#01528a;
	text-align:center;
}
span {
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-size: 42px;
	margin-bottom:20px;
}
.module {
	border-radius: 10px;
	background: white;
	width: 100%;
	margin: 10px;
	flex: 1;
	display:flex;
	flex-direction:column;
	-moz-box-shadow: 0px 0px 10px -2px #3c3c3c;
	-webkit-box-shadow: 0px 0px 10px -2px #3c3c3c;
	-o-box-shadow: 0px 0px 10px -2px #3c3c3c;
	box-shadow: 0px 0px 10px -2px #3c3c3c;
	min-height: 200px;
}
.moduleBlock {
	display: flex;
	justify-content: space-between;
}
.moduleTitle {
	border-radius: 10px 10px 0px 0px;
	background-color:#0e6dbb;
	color:white;
	height: 50px;
	padding: 10px;
	font-size: 16px;
	display:flex;
	align-items:center;
}
.moduleTitle span {
	flex: 1;
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
	font-weight:400;
	letter-spacing:0.05em;
	line-height: 1.1;
}
.moduleTitle img {
	height: 30px;
	margin: 0px 15px 0px 15px;
}
.moduleContent {
	flex: 1;
	min-height: 100px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	padding: 20px;
	text-align: center;
	padding: 5px 20px 20px 20px;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
#cammemberts
{
	width: 100%;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
}
#cammemberts > [class*='col-']
{
	display: flex;
	flex-direction: column;
}
#cammemberts table
{
	width: 100%;
	font-size: 38px;
}
#cammemberts table tbody tr
{
	color: #20BF55;
}
#cammemberts table td h4
{
	margin-top: 20px;
}
#cammemberts table th, #cammemberts table tbody tr td:first-child
{
	color: #20BF55;	
}
#cammemberts table th, #cammemberts table tbody tr td:first-child
{
	font-size: 28px;
}
#cammemberts table th, #cammemberts table tbody tr td:first-child
{
	color: #050505;
	text-align: center;
}
#cammemberts table tbody span
{
	font-size: 16px;
	color: #505050;
	font-weight: 400;
	font-style: italic;
}
.contour_RepPort, .contour_RepGeo, .contour_RepCat
{
	height: initial !important;
}
body
{
	zoom: 3.5;
}
.module
{
	min-height: 95.5%;
}
sup
{
	font-style: italic;
}
h1
{
	color: #000;
}
h3{
font-size: 16px
}
