.tp-component {
  color: black;
  position: relative !important;
  top: 0px !important; }
  .tp-component .tp-icon {
    min-width: 18px;
    max-width: 18px;
    min-height: 18px;
    max-height: 18px; }
    .tp-component .tp-icon.big {
      min-width: 28px;
      max-width: 28px;
      min-height: 28px;
      max-height: 28px; }
  .tp-component .tp-show {
    z-index: 150;
    background-color: #F0F0F0;
    position: absolute;
    left: -212.5px;
    float: both;
    width: auto;
    min-width: 255px;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
    .tp-component .tp-show .header {
      text-align: left !important;
      color: #1781e0;
      font-family: 'Open Sans', sans-serif;
      font-weight: 900;
      font-size: 15px; }
    .tp-component .tp-show .content {
      text-align: left !important;
      color: #01528a;
      font-family: 'Open Sans', sans-serif; }
